
#AnchorPane {
    -fx-background-image: url("../images/background.jpeg");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

#taStatus{
    -fx-opacity: 0.8;
}